<div class="result">
    <div class="row">
        <div>0 x 0 = 0</div>
        <div>0 x 1 = 0</div>
        <div>0 x 2 = 0</div>
        <div>0 x 3 = 0</div>
        <div>0 x 4 = 0</div>
        <div>0 x 5 = 0</div>
        <div>0 x 6 = 0</div>
        <div>0 x 7 = 0</div>
        <div>0 x 8 = 0</div>
        <div>0 x 9 = 0</div>
    </div>
    <div class="row">
        <div>1 x 0 = 0</div>
        <div>1 x 1 = 1</div>
        <div>1 x 2 = 2</div>
        <div>1 x 3 = 3</div>
        <div>1 x 4 = 4</div>
        <div>1 x 5 = 5</div>
        <div>1 x 6 = 6</div>
        <div>1 x 7 = 7</div>
        <div>1 x 8 = 8</div>
        <div>1 x 9 = 9</div>
    </div>
    <div class="row">
        <div>2 x 0 = 0</div>
        <div>2 x 1 = 2</div>
        <div>2 x 2 = 4</div>
        <div>2 x 3 = 6</div>
        <div>2 x 4 = 8</div>
        <div>2 x 5 = 10</div>
        <div>2 x 6 = 12</div>
        <div>2 x 7 = 14</div>
        <div>2 x 8 = 16</div>
        <div>2 x 9 = 18</div>
    </div>
    <div class="row">
        <div>3 x 0 = 0</div>
        <div>3 x 1 = 3</div>
        <div>3 x 2 = 6</div>
        <div>3 x 3 = 9</div>
        <div>3 x 4 = 12</div>
        <div>3 x 5 = 15</div>
        <div>3 x 6 = 18</div>
        <div>3 x 7 = 21</div>
        <div>3 x 8 = 24</div>
        <div>3 x 9 = 27</div>
    </div>
    <div class="row">
        <div>4 x 0 = 0</div>
        <div>4 x 1 = 4</div>
        <div>4 x 2 = 8</div>
        <div>4 x 3 = 12</div>
        <div>4 x 4 = 16</div>
        <div>4 x 5 = 20</div>
        <div>4 x 6 = 24</div>
        <div>4 x 7 = 28</div>
        <div>4 x 8 = 32</div>
        <div>4 x 9 = 36</div>
    </div>
    <div class="row">
        <div>5 x 0 = 0</div>
        <div>5 x 1 = 5</div>
        <div>5 x 2 = 10</div>
        <div>5 x 3 = 15</div>
        <div>5 x 4 = 20</div>
        <div>5 x 5 = 25</div>
        <div>5 x 6 = 30</div>
        <div>5 x 7 = 35</div>
        <div>5 x 8 = 40</div>
        <div>5 x 9 = 45</div>
    </div>
    <div class="row">
        <div>6 x 0 = 0</div>
        <div>6 x 1 = 6</div>
        <div>6 x 2 = 12</div>
        <div>6 x 3 = 18</div>
        <div>6 x 4 = 24</div>
        <div>6 x 5 = 30</div>
        <div>6 x 6 = 36</div>
        <div>6 x 7 = 42</div>
        <div>6 x 8 = 48</div>
        <div>6 x 9 = 54</div>
    </div>
    <div class="row">
        <div>7 x 0 = 0</div>
        <div>7 x 1 = 7</div>
        <div>7 x 2 = 14</div>
        <div>7 x 3 = 21</div>
        <div>7 x 4 = 28</div>
        <div>7 x 5 = 35</div>
        <div>7 x 6 = 42</div>
        <div>7 x 7 = 49</div>
        <div>7 x 8 = 56</div>
        <div>7 x 9 = 63</div>
    </div>
    <div class="row">
        <div>8 x 0 = 0</div>
        <div>8 x 1 = 8</div>
        <div>8 x 2 = 16</div>
        <div>8 x 3 = 24</div>
        <div>8 x 4 = 32</div>
        <div>8 x 5 = 40</div>
        <div>8 x 6 = 48</div>
        <div>8 x 7 = 56</div>
        <div>8 x 8 = 64</div>
        <div>8 x 9 = 72</div>
    </div>
    <div class="row">
        <div>9 x 0 = 0</div>
        <div>9 x 1 = 9</div>
        <div>9 x 2 = 18</div>
        <div>9 x 3 = 27</div>
        <div>9 x 4 = 36</div>
        <div>9 x 5 = 45</div>
        <div>9 x 6 = 54</div>
        <div>9 x 7 = 63</div>
        <div>9 x 8 = 72</div>
        <div>9 x 9 = 81</div>
    </div>
</div>