* {
    overflow: hidden;
}
body {
    background-color: aqua;
    background: linear-gradient(90deg, aquamarine,aqua, white, )
}

.sun {
    background: radial-gradient(circle, rgba(255,226,0,1) 0%, rgb(202, 140, 6) 100%);
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.fa-face-smile-beam {
    color: blue;
    position: absolute;
    /*animation: incoming 3s ease-in-out infinite alternate-reverse;*/
    animation:3s ease-in 1s infinite alternate-reverse incoming;
}
.ground {
    width: 100%;
    position: absolute;
    top:86%;
    height:2rem;
    background-color: #aaa;
}
 @keyframes incoming {
    from {
        top: 75%;
        left: 50%;
    }
    to {
        top: 0;
        left:50%;
    } 
 }