html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 8rem auto 8rem;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #ccc;
}

footer a {
    color: #3852CE;
}
header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

header div {
    padding-bottom: 1rem;
    margin: 1rem;
}

header img {
    width: 7rem;
}
main:not(class="categ") {
    display: flex;
    justify-content: center;
    height: calc(100% -1rem);
    margin-top: 1rem;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__link{
    padding-top: 3.8rem;
    padding-bottom: 1rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 10rem;
    border-radius: .7rem;
    background: #3852CE;
    color: white;
    max-height: 7rem;
}

.card__link:hover, .card__link:hover i, .card__link:hover a {
    background-color: white;
    color: #3852CE;
}
a {
    text-decoration: none;
    font-weight: bold;
}

nav a {
    color: white;
    padding-top: 1rem;
}
.back, .back a, .back i {
    color: #3852CE;
}
.card__link i {
    position: absolute;
    top: 1.5rem;
    left: calc(50% - 1rem);
    font-size: 2rem;
    color: white;

}
h1{
    text-align: center;
}

.submit {
    margin: auto;
    text-align: center;
    
    width: 50%;
}
input {
    width: 8rem;
}

.breadcrumbs {
    justify-content: start;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 24fr 1fr;
    flex-wrap: nowrap;
    height: 5rem;

}
.breadcrumbs h2 {
    color:#3852CE;
}

.breadcrumbs .progress-bar {
    margin: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    background-color: #eee;
}
.progress-bar .progress {
    --pgPercentage: calc(var(--value) / var(--valuemax) * 100%);
    width: var(--pgPercentage);
    background-color: #3852CE;
    background: linear-gradient(224.47deg,#018BF1 0%,#00BAD8 99.09%);
}
.breadcrumbs > select {
    margin: .5rem;
}
.breadcrumbs > div {
    margin: 1rem;
}
.breadcrumbs > a{
    margin: .5rem;
}

.container__video {
    width: 400px;
    margin: 2.5rem auto;
}

.card__nav {
    margin: 2.5rem auto;
    width: 100%;
    text-align: center;
}
.card__nav__layout {
    grid-template-columns: 50% 50%;
    display: grid;
}

.card__nav__layout--col1 {
    display: flex;
    justify-content: end;
}
.card__nav__layout--col1 img {
    border-radius: 1rem;
}

.card__nav__exercices, .card__nav__exercices li{
    text-transform: capitalize;
}

.card__nav__exercices {
    counter-reset: Step;
    list-style-type: none;

}
.card__nav__exercices li {
    padding: 1rem 1rem 1rem 4rem;
    width: 20rem;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    margin: 1rem;
    border-radius: .8rem;
    position: relative;
}
.card__nav__exercices li:before {
    counter-increment: Step;
    content: counters(Step," ");
    position: absolute;
    left: -1rem;
    border-radius: 50%;
    padding: 0.5rem 0.9rem;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: #3852CE;
    font-weight: bold;
    top: 0.6rem;
}    

.card__exercice {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 3rem;
}
.card__exercice--vocab {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: 3rem;
}

.card__enonce {

}
.card__reponses {

}

.card__enonce--vocab {
    padding: 1rem;
    border: 1px solid #3852CE;
    border-radius: 1rem;
    color: #018BF1;

}
.card__enonce--vocab h3 {
    font-size: large;
    color: #3852CE;
}
.card__enonce--vocab p {
    margin-bottom: .7rem;
}

.btn-start {
    width: 15rem;
}

.transcript {
    display: none;
}

.correct {
    color: green;
}
.wrong {
    color: red;
}